html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* Utility Classes */

/* Display */
.hidden {
  display: none;
}

/* Positions */
.flex {
  display: flex;
}

.flex-middle {
  justify-content: center;
  align-items: center;
}

.flex-spread {
  justify-content: space-between;
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

/* Colours */
.bg-black {
  background-color: #1d1d1d;
}

.bg-blue {
  background-color: #365975;
}

.bg-red {
  background-color: #c44b4b;
}

.bg-green {
  background-color: #a5c4be;
}

.text-white {
  color: #cfcfcf;
}

.text-green {
  color: #448f70;
}

/* Text */

.text-title {
  font-size: larger;
  font-weight: 800;
  font-family: sans-serif;
}

.text-upper {
  text-transform: uppercase;
}

.text-justify {
  text-align: justify;
}

.para-space {
  line-height: 1.5rem;
}

/* Spacing */

.padding {
  padding: 10px;
}

/* Others */

.border-bottom {
  border-bottom: 2px solid #365975;
}

/* Specific Classes */
#header {
  height: 80px;
}

.date-button-row {
  height: 30px;
}

.standard-button {
  color: #cfcfcf;
  border: none;
  border-radius: 10px;
  outline: none;
  padding: 10px;
}

.standard-button:hover {
  background-color: #4c7291;
}

.standard-button:active {
  background-color: #769bb9;
}

.icon-button {
  background-color: transparent;
  border: none;
  color: black;
  padding: 0;
  height: 50px;
  width: 50px;
}

.icon-button:hover {
  color: #4c7291;
}

.icon-button:active {
  color: #769bb9;
}

#buttons-bar {
  height: 60px;
}

#create-task-modal {
  position: absolute;
  top: 160px;
  left: 0;
  width: 100vw;
  height: 76vh;
}
